@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Noto+Sans+JP:wght@200;400&family=Work+Sans&display=swap');
body{
    background-color: #778DA9;
    font-size: 18px;
}

header, footer {
    background: #0D1B2A;
}

h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
    text-decoration: underline;
}

h3{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
}

li{
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.2em;
    list-style: none;
}

.link-decoration{
    font-size: 2em;
}

.link-decoration:hover{
    border-bottom: solid #FFFF 3px;
}

p{
    font-family: 'Dancing Script', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

.slider {
    overflow: hidden;
    width: 100%;
    height: 50vh;
    position: relative;
   }
    
   .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slider 30s infinite;
   }
    
   .slider .slide:nth-child(1) {
      background-image: url('img/1.jpg');
      animation-delay: 0s;
   }
   
   .slider .slide:nth-child(2) {
      background-image: url('img/2.jpg');
      animation-delay: -6s;
   }
   
   .slider .slide:nth-child(3) {
      background-image: url('img/3.jpg');
      animation-delay: -12s;
   }
   
   .slider .slide:nth-child(4) {
      background-image: url('img/4.jpg');
      animation-delay: -18s;
   }
   
   .slider .slide:nth-child(5) {
      background-image: url('img/5.jpg');
      animation-delay: -24s;
   }
   
   
   @keyframes slider {
     0%, 18%, 100% {
       opacity: 1;
       animation-timing-function: ease;
       z-index: 0;
     }
     20% {
       opacity: 0;
       animation-timing-function: step-end;
       z-index: 0;
     }
     98% {
       opacity: 1;
       animation-timing-function: step-end;
       z-index: -1;
     }
   }

.presentation{
    background: #415A77;
    color: #FFFF;
    border: solid #DA6464 8px;
}

.masonry-container { /** Pinterest style (Masonry) layout**/
    column-count: 1;
  }
  
.masonry-item {
    display: inline-block;
    width: 100%;
  }

@media (min-width: 768px) {
.masonry-container {
    column-count: 2;
    }
    
    .masonry-item {
    display: inline-block;
    width: 100%;
    }
}

@media (min-width: 992px) {
.masonry-container {
    column-count: 3;
    }
    
    .masonry-item {
    display: inline-block;
    width: 100%;
    }
}