@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Noto+Sans+JP:wght@200;400&family=Work+Sans&display=swap');
body{
    background-color: #778DA9;
    font-size: 18px;
}

header, footer {
    background: #0D1B2A;
}

h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
}

li{
    font-family: 'Dancing Script', sans-serif;
    font-size: 2em;
}

.link-decoration:hover{
    border-bottom: solid #FFFF 3px;
}

p{
    font-family: 'Dancing Script', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}